page-home {
	.halfHeight{
		height: 50vh;
	}
	.divTop{
		margin-top: 20%;
	}
	.divBottom{
		margin-bottom: 20%;
	}
	.etiquetas{
	    display: block;
	}
	.buttons{
		width: 25vh;
		height: 25vh;
	}

}
