// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
	.buttons{
		width: 18vh;
		height: 18vh;
	}
	.seleccionado{
		display: inline-block;
		width: 50%;
		padding: 5px;
		text-align: center;

	}
	.compartido{
		display: inline-block;
		width: 50%;
		padding: 5px;
		text-align: center;

	}
	.split-pane-md.split-pane-visible > .split-pane-side{
		min-width: 340px; 
	}
.compartido:before {
    content: "";
    background-color: #ffffff6b;
    border-radius: 50%;
    height: 18vh;
    position: absolute;
    width: 18vh;
}
	.etiqueta{
		    display: block;
		    font-size: 80%;
	}
	ion-label{
		text-overflow:clip;
		margin: 0px !important;
	}
.item-md.item-block .item-inner{
	border-bottom: 0;
	padding: 10px;
}